@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #183153;
    --secondary-color: #001c40;
    --tertiary-color: #63e6be;
}

* {
    font-family: 'Poppins', sans-serif;
}

.bg-primary {
    color: #fff;
    background: var(--primary-color);
    background-color: var(--secondary-color);
    background-image: linear-gradient(315deg, var(--secondary-color) 0%, var(--primary-color) 74%);
}

.bg-primary:hover {
    color: #fff;
}

.btn-secondary {
    color: #fff;
    background: var(--tertiary-color);
    background-color: var(#2beab0);
    background-image: linear-gradient(315deg, var(#2beab0) 0%, var(--tertiary-color) 74%);
}

.btn-secondary:hover {
    color: #fff;
}

.btn {
    border-radius: 3px !important;
    outline: none;
    border: none;
}

.form-control {
    border-radius: 3px !important;
    outline: none;
}

btn:focus,
a:focus {
    outline: none;
}

.navbar-toggler:focus,
.form-control:focus {
    outline: none !important;
    box-shadow: none;
}

.mr-5 {
    margin-right: 5px;
}

.top-100 {
    margin-top: 100px;
}

.top-90 {
    margin-top: 70px;
}

.top-50 {
    margin-top: 60px;
}

/* Index */
.main-heading {
    margin-top: 80px;
    font-weight: 700;
}

.sub-heading {
    font-weight: 700;
}

.icon {
    display: none !important;
}

.times {
    display: none !important;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar li:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar a:hover {
    color: #fff;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1250px) {
    .sidebar {
        display: none;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0px;
    }

    .icon {
        display: block !important;
        cursor: pointer;
    }

    .times {
        display: block !important;
        cursor: pointer;
    }

    .main-heading {
        margin-top: 30px;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */


/* Login */
.login-form {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
}


.login-form .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}